/*GLOBAL SETTINGS*/
html, body {
    max-height: 1000px;
    overflow: hidden;
}
h1 {
    font: bold 30px/1.5 "Calibri";
    border-bottom: black 10px;
    padding: 10px;
    margin: 0 0 0 0;
}
.unselectedMachine {
    border: 2px solid black;
    background-color: transparent;
}
.selectedMachine {
    border: 2px solid black;
    background-color: red;
    opacity: 50%;
}
#machineFilter {
    width: 110px;
}
#toggleButton {
    display: block;
    margin: 0 0 10px 10px;
    width: 90px;
    border-radius: 10px;
}




/*ELEMENT SETTINGS BELLOW-----------------------------------*/

/*TREADMILL LOCATIONS-----------------------------------*/
#treadmill1 {
    position: relative;
    bottom: 70px;
    left: 400px;
    width: 18px;
    height: 40px;
}
#treadmill2 {
    position: relative;
    bottom: 114px;
    left: 370px;
    width: 18px;
    height: 40px;
}
#treadmill3 {
    position: relative;
    bottom: 158px;
    left: 340px;
    width: 18px;
    height: 40px;
}
#treadmill4 {
    position: relative;
    bottom: 202px;
    left: 310px;
    width: 18px;
    height: 40px;
}
#treadmill5 {
    position: relative;
    bottom: 246px;
    left: 280px;
    width: 18px;
    height: 40px;
}

/*BIKE (NOT BIKESAL) LOCATIONS-----------------------------------*/
#bike1 {
    position: relative;
    bottom: 460px;
    left: 621px;
    width: 40px;
    height: 18px;
}
#bike2 {
    position: relative;
    bottom: 510px;
    left: 621px;
    width: 40px;
    height: 18px;
}
#bike3 {
    position: relative;
    bottom: 560px;
    left: 621px;
    width: 40px;
    height: 18px;
}
#bike4 {
    position: relative;
    bottom: 610px;
    left: 621px;
    width: 40px;
    height: 18px;
}
#bike5 {
    position: relative;
    bottom: 660px;
    left: 621px;
    width: 40px;
    height: 18px;
}

/*BIKE (BIKESAL) LOCATIONS-----------------------------------*/
#bike6 {
    position: relative;
    bottom: 823px;
    left: 405px;
    width: 18px;
    height: 40px;
}
#bike7 {
    position: relative;
    bottom: 867px;
    left: 375px;
    width: 18px;
    height: 40px;
}
#bike8 {
    position: relative;
    bottom: 911px;
    left: 345px;
    width: 18px;
    height: 40px;
}
#bike9 {
    position: relative;
    bottom: 955px;
    left: 315px;
    width: 18px;
    height: 40px;
}
#bike10 {
    position: relative;
    bottom: 999px;
    left: 285px;
    width: 18px;
    height: 40px;
}
#bike11 {
    position: relative;
    bottom: 1043px;
    left: 255px;
    width: 18px;
    height: 40px;
}
#bike12 {
    position: relative;
    bottom: 1134px;
    left: 405px;
    width: 18px;
    height: 40px;
}
#bike13 {
    position: relative;
    bottom: 1178px;
    left: 375px;
    width: 18px;
    height: 40px;
}
#bike14 {
    position: relative;
    bottom: 1222px;
    left: 285px;
    width: 18px;
    height: 40px;
}
#bike15 {
    position: relative;
    bottom: 1266px;
    left: 255px;
    width: 18px;
    height: 40px;
}
#bike16 {
    position: relative;
    bottom: 1356px;
    left: 405px;
    width: 18px;
    height: 40px;
}
#bike17 {
    position: relative;
    bottom: 1400px;
    left: 375px;
    width: 18px;
    height: 40px;
}
#bike18 {
    position: relative;
    bottom: 1444px;
    left: 345px;
    width: 18px;
    height: 40px;
}
#bike19 {
    position: relative;
    bottom: 1488px;
    left: 315px;
    width: 18px;
    height: 40px;
}
#bike20 {
    position: relative;
    bottom: 1532px;
    left: 285px;
    width: 18px;
    height: 40px;
}
#bike21 {
    position: relative;
    bottom: 1576px;
    left: 255px;
    width: 18px;
    height: 40px;
}

/*KETTLEBELLS LOCATION-----------------------------------*/
#kettlebells1 {
    position: relative;
    bottom: 1620px;
    left: 100px;
    width: 40px;
    height: 80px;
}
#kettlebells2 {
    position: relative;
    bottom: 1703px;
    left: 585px;
    width: 80px;
    height: 20px;
}

/*CABLETOWER LOCATION-----------------------------------*/
#cabletower1 {
    position: relative;
    bottom: 1670px;
    left: 535px;
    width: 40px;
    height: 80px;
}
#cabletower2 {
    position: relative;
    bottom: 1470px;
    left: 103px;
    width: 40px;
    height: 120px;
}

/*HANDWEIGHT LOCATION-----------------------------------*/
#handweight1 {
    position: relative;
    bottom: 1680px;
    left: 207px;
    width: 18px;
    height: 40px;
}
#handweight2 {
    position: relative;
    bottom: 1724px;
    left: 170px;
    width: 18px;
    height: 40px;
}
#handweight3 {
    position: relative;
    bottom: 1768px;
    left: 60px;
    width: 18px;
    height: 40px;
}
#handweight4 {
    position: relative;
    bottom: 1812px;
    left: 20px;
    width: 18px;
    height: 40px;
}
#handweight5 {
    position: relative;
    bottom: 1790px;
    left: 207px;
    width: 18px;
    height: 40px;
}
#handweight6 {
    position: relative;
    bottom: 1834px;
    left: 170px;
    width: 18px;
    height: 40px;
}
#handweight7 {
    position: relative;
    bottom: 1878px;
    left: 60px;
    width: 18px;
    height: 40px;
}
#handweight8 {
    position: relative;
    bottom: 1922px;
    left: 20px;
    width: 18px;
    height: 40px;
}
#handweight9 {
    position: relative;
    bottom: 1900px;
    left: 60px;
    width: 18px;
    height: 40px;
}
#handweight10 {
    position: relative;
    bottom: 1944px;
    left: 20px;
    width: 18px;
    height: 40px;
}

/*LEGPRESS LOCATION-----------------------------------*/
#legpress {
    position: relative;
    bottom: 1980px;
    left: 448px;
    width: 60px;
    height: 18px;
}

/*STAIRWALKER LOCATION-----------------------------------*/
#stairwalker1 {
    position: relative;
    bottom: 2090px;
    left: 448px;
    width: 40px;
    height: 18px;
}
#stairwalker2 {
    position: relative;
    bottom: 2140px;
    left: 448px;
    width: 40px;
    height: 18px;
}
#stairwalker3 {
    position: relative;
    bottom: 2190px;
    left: 448px;
    width: 40px;
    height: 18px;
}
#stairwalker4 {
    position: relative;
    bottom: 2240px;
    left: 448px;
    width: 40px;
    height: 18px;
}
#stairwalker5 {
    position: relative;
    bottom: 2290px;
    left: 448px;
    width: 40px;
    height: 18px;
}

/*SKIING LOCATION-----------------------------------*/
#skiing1 {
    position: relative;
    bottom: 1992px;
    left: 250px;
    width: 18px;
    height: 40px;
}
#skiing2 {
    position: relative;
    bottom: 2036px;
    left: 220px;
    width: 18px;
    height: 40px;
}
#skiing3 {
    position: relative;
    bottom: 2080px;
    left: 190px;
    width: 18px;
    height: 40px;
}
#skiing4 {
    position: relative;
    bottom: 2124px;
    left: 160px;
    width: 18px;
    height: 40px;
}
#skiing5 {
    position: relative;
    bottom: 2168px;
    left: 130px;
    width: 18px;
    height: 40px;
}

/*BENCH LOCATION-----------------------------------*/
#bench1 {
    position: relative;
    bottom: 2340px;
    left: 207px;
    width: 18px;
    height: 40px;
}
#bench2 {
    position: relative;
    bottom: 2384px;
    left: 170px;
    width: 18px;
    height: 40px;
}
#bench3 {
    position: relative;
    bottom: 2360px;
    left: 207px;
    width: 18px;
    height: 40px;
}
#bench4 {
    position: relative;
    bottom: 2404px;
    left: 170px;
    width: 18px;
    height: 40px;
}
#bench5 {
    position: relative;
    bottom: 2448px;
    left: 60px;
    width: 18px;
    height: 40px;
}
#bench6 {
    position: relative;
    bottom: 2492px;
    left: 20px;
    width: 18px;
    height: 40px;
}
#bench7 {
    position: relative;
    bottom: 2476px;
    left: 60px;
    width: 18px;
    height: 40px;
}
#bench8 {
    position: relative;
    bottom: 2520px;
    left: 20px;
    width: 18px;
    height: 40px;
}

/*ABCRUNCH LOCATION-----------------------------------*/
#abcrunch {
    position: relative;
    bottom: 3000px;
    left: 621px;
    width: 40px;
    height: 18px;
}

/*CHESTPRESS LOCATION-----------------------------------*/
#chestpress {
    position: relative;
    bottom: 2994px;
    left: 621px;
    width: 40px;
    height: 18px;
}

/*DEADLIFT LOCATION-----------------------------------*/
#deadlift1 {
    position: relative;
    bottom: 3120px;
    left: 20px;
    width: 40px;
    height: 40px;
}
#deadlift2 {
    position: relative;
    bottom: 3164px;
    left: 186px;
    width: 40px;
    height: 40px;
}
#deadlift3 {
    position: relative;
    bottom: 3158px;
    left: 20px;
    width: 40px;
    height: 40px;
}
#deadlift4 {
    position: relative;
    bottom: 3202px;
    left: 186px;
    width: 40px;
    height: 40px;
}

/*SEATEDROW LOCATION-----------------------------------*/
#seatedrow {
    position: relative;
    bottom: 3190px;
    left: 448px;
    width: 40px;
    height: 18px;
}



header>nav {
    display: flex;
    justify-content: space-between;
    height: 10vw; /*I have just made it this number, and it can be changed if anybody ever reads this and or has an opinion on something at all*/
}
header>nav>section {
    width: 50%;

}

header>nav>#searchwindow>#mucleFilter>div {
    display: inline-block;
    width: 50%;
}

header>nav>#searchwindow>#difficultyFilter>div {
    display: inline-block;
}

#searchwindow {
    display: flex;
}
#mucleFilter {
    display: inline;
    width: 50%;

}

#mainSection {
    display: flex;
}

.infobox {
    border-radius: 20%;
    background-color: aliceblue;
}